# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
configs/__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Data:
data/*
!data/download.txt
!data/*/
data/processed/*
!data/processed/*.npy
data/raw/*
!data/raw/*.csv

# vsccode
.vscode/