# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
configs/__pycache__/

# Data:
data/*
!data/*.csv

# Downloads
downloads/*

# Jupyter Notebook
.ipynb_checkpoints
Untitled.ipynb
ipynb/Untitled*.ipynb

# Pretrained Models
pretrained/*
!pretrained/*.pth

# Processed
processed/*
!processed/*.csv
!processed/*.npy

# vsccode
.vscode/

# old codes
olds/*

# output
output/*

# all readme.md
!**/readme.md

