# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
configs/__pycache__/

# Backup
backup/

# Jupyter Notebook
.ipynb_checkpoints
Untitled.ipynb

# Data:
data/*
!data/download.txt

# Processed
processed/*
!processed/*.csv
!processed/*.npy

# Pretrained Models
pretrained/*
pretrained/*.pth
!pretrained/readme.md

# vsccode
.vscode/

# Olds
olds/
